@CHARSET "UTF-8";

/* mypoint style */
/* 2015/07/04  Ryan*/


@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html body {height:100%;}
body{padding-bottom:0 !important;  font-family: 'Noto Sans KR', sans-serif; }
body,input,textarea,select,table,button {position:relative;font-size:15px;color:#2F2F2F;margin:0;padding:0;line-height:1.5em;} /**/

IMG {border: none;}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
    width:100%; 
}


#chart {position:relative;}
.listT1 {position:relative;}
.listT1 li {display:block;}
.typeT1 {
	position:relative;
	background:#ffffff;
	width:100%; overflow:hidden;
	margin-top:5px; border:1px #E8E8E8 solid; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;
	}
.typeT1 a {display:block;height:100%;}
.listTit {
	display:block;overflow:hidden;padding-left:5px;color:#2F2F2F; font-weight:bold;
	font-size:13px;line-height:160%; text-overflow:ellipsis; white-space:nowrap; 
	margin-right:100px; margin-left:10px;
	}
.listName {
	display:block;overflow:hidden;padding-left:5px;color:#8B8B8B; 
	font-size:11px; text-overflow:ellipsis; white-space:nowrap;
	margin-left:10px;
	}
.listBtnB {position:absolute;top:0px; right:10px; margin-top:5px;font-size:13px; color:#3066CA; margin-right:10px;}
.listBtnR {position:absolute;top:0px; right:10px; margin-top:5px;font-size:13px; color:#D63B3B; margin-right:10px;}
.listBtn a{display:inline-block;overflow:hidden; height:100%;}
.listLine {height:1px; background:url(../images/dot.png) repeat-x;}



.bgDiv{width:100%; background-image:url(../images/mypoint/img_bg.png); background-size:cover;}
.titleDiv{padding-top:15px;  text-align:center;}
.pointBtnDiv{padding-top:25px; padding-bottom:25px; margin-left:10%; margin-right:10%; text-align:left;}

.mypointDiv{padding-top:40px; padding-bottom:25px; margin-left:10%; margin-right:10%;}
.mypointDiv ul{margin-left:5%; margin-right:5%}
.mypointDiv li{float:left;}

.lockScreenText{font-weight:bold; font-size:13px;}
.lockScreenBtn{width:15%; margin-left:3%; vertical-align:middle;}
.doublePointImg{width:12%; vertical-align:middle;}

.selectDate{margin-top:5px;margin-bottom:5px;font-size:11px;}

.usepointSpan{float:right;}
.usepointText{font-weight:bold; font-size:17px;}
.usepointValue{font-weight:bold; font-size:25px; color:#E83939;}
.usepointP{font-weight:Regular; font-size:13px;}

.bdText{margin-left:15px; margin-right:120px; color:#2F2F2F; font-weight:bold; display:block;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.bdPointR{float:right; margin-top:5px; color:#D63B3B; font-size:20px; margin-right:15px;}
.bdPointB{float:right; margin-top:5px; color:#3066CA; font-size:20px; margin-right:15px;}
.bdDate{color:#8B8B8B; font-weight:bold; margin-left:15px; font-size:12px;}
.bdListLi{width:100%; margin-top:5px; border:1px #E8E8E8 solid; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;}

.bannerDiv{/*padding-top:10px;*/}
.bannerDiv2{padding-top:10px; line-height:0em; display:none;}
 
.layer_pop_wrap {display: block; position: fixed; left: 0; right: 0; top: 0;  bottom: 0;  z-index: 250;}
.layer_pop_wrap .deem {position: fixed; left: 0; top: 0; bottom: 0; width: 100%; background: rgba(0,0,0, 0.7); z-index: 60;}
.layer_pop_wrap .pop_close {position: absolute; top : 20px; right: 20px; }
.layer_pop_wrap .pop_close img{width:30px;}
#resultDiv{position: fixed;top: 50%; margin-top: -130px;width: 100%; z-index:1000}
#resultDiv .box{margin: 10px;background: #fff;padding-bottom:10px;text-align: center; border:1px solid #a5a5a5;}
.btn_rl_wrap{display:block;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;}
.btn_rl_wrap span{margin-left: 10px ;line-height: 40px;color: #fff;border-radius: 0px;border: 0px solid #eb1c24;background: #a5a5a5;font-size: 15px;text-align: center;-webkit-box-flex:1;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1}
.btn_rl_wrap span:first-child{margin-right: 4px;}
.btn_rl_wrap span:last-child{margin-left: 4px; margin-right:10px; color: #fff;background: #fd4d62;}
#resultDiv .box .img{}
#resultDiv .box .img img{width: 100%; padding-bottom:10px;}
